{% extends 'base.html' %}

{% block content %}
<section class="is-fullheight">
    <div class="hero-body">
        <div class="container" >
            <div class="column is-4 is-offset-4">
        <h1 class="title">Password Resetting</h1>

        <form method="post" action=".">
            {% csrf_token %}
            
           {{form}}
            
    
        
        <input type="submit">
                
                
           </form>
    
            
</div>
</div>
</div>
</section>
{% endblock %}